# Dependências
/node_modules

# Arquivos de Build / Compilação
/dist
/tmp
/out-tsc
/bazel-out

# Cache do Angular
.angular/

# Logs e Debug
npm-debug.log
yarn-error.log
yarn-debug.log

# Arquivos de IDEs e Editores (VS Code, WebStorm, etc)
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
.vercel
