<header class="main-header" [class.menu-active]="isMenuOpen()">
    <div class="header-content">

        <div class="logo-left">
            <a routerLink="/" class="logo-link" (click)="closeMenu()">
                <img src="logo-sem-fundo.png" alt="A Bíblia Revelada" class="header-logo">
            </a>
        </div>

        <button class="menu-toggle" (click)="toggleMenu()" aria-label="Abrir Menu">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

        <nav class="nav-right" [class.open]="isMenuOpen()">
            <ul class="nav-links">
                <li><a routerLink="/" (click)="closeMenu()">{{versionService.ui().start}}</a></li>
                <li><a routerLink="/read" routerLinkActive="active-link" (click)="closeMenu()">{{versionService.ui().title}}</a></li>
                <li><a routerLink="/materials" routerLinkActive="active-link" (click)="closeMenu()">{{versionService.ui().materials}}</a></li>
                <li><a routerLink="/blog" (click)="closeMenu()">{{versionService.ui().blog}}</a></li>
                
                <li class="lang-selector">
                    <app-version-selector></app-version-selector>
                </li>
            </ul>
        </nav>

    </div>
</header>

@if (isMenuOpen()) {
    <div class="menu-overlay" (click)="closeMenu()"></div>
}