<header class="main-header" [class.menu-active]="isMenuOpen()">
    <div class="header-content">

        <div class="logo-left">
            <a routerLink="/" class="logo-link" (click)="closeMenu()">
                <img src="logo-sem-fundo.png" [alt]="versionService.ui().headerLogoAlt" class="header-logo">
            </a>
        </div>

        <button class="menu-toggle" (click)="toggleMenu()"
            [attr.aria-label]="versionService.ui().headerOpenMenuAriaLabel">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

        <nav class="nav-center">
            <ul class="nav-links">
                <li><a routerLink="/" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }">{{versionService.ui().start}}</a></li>
                <li><a routerLink="/read" routerLinkActive="active-link">{{versionService.ui().title}}</a></li>
                <li><a routerLink="/materials" routerLinkActive="active-link">{{versionService.ui().materials}}</a></li>
                <li><a routerLink="/blog" routerLinkActive="active-link">{{versionService.ui().blog}}</a></li>
            </ul>
        </nav>

        <div class="header-actions">
            <div class="lang-selector">
                <app-version-selector></app-version-selector>
            </div>
            @if (false) {
            <a routerLink="/login" class="sage-button">{{ versionService.ui().headerBecomeSage }}</a>

            }
        </div>

        <nav class="nav-mobile" [class.open]="isMenuOpen()">
            <ul class="nav-links-mobile">
                <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                        (click)="closeMenu()">{{versionService.ui().start}}</a></li>
                <li><a routerLink="/read" routerLinkActive="active-link"
                        (click)="closeMenu()">{{versionService.ui().title}}</a></li>
                <li><a routerLink="/materials" routerLinkActive="active-link"
                        (click)="closeMenu()">{{versionService.ui().materials}}</a></li>
                <li><a routerLink="/blog" routerLinkActive="active-link"
                        (click)="closeMenu()">{{versionService.ui().blog}}</a></li>
                <li class="mobile-lang-selector"><app-version-selector></app-version-selector></li>
                @if (false) {
                <li><a routerLink="/login" class="sage-button mobile-sage-button" (click)="closeMenu()">{{
                        versionService.ui().headerBecomeSage }}</a></li>

                }
            </ul>
        </nav>

    </div>
</header>

@if (isMenuOpen()) {
<div class="menu-overlay" (click)="closeMenu()"></div>
}