html, body {
  height: auto !important;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto !important; // Força a rolagem vertical
  margin: 0;
  background-color: #050505; // Cor de fundo para não aparecer o cinza
}

/* Força o root do Angular a ocupar a tela toda também */
app-root {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}